html
    include head.pug

    body(class="text-center")
        div(class="container text-center")
            p Successfully created the account with username : #{username}
          
    include footer.pug
          