h2 Dues Owed to You
table(class="table table-striped text-center")
    each due in dues
        if (userid == due.creditor_id)
            tr(class="due")  
                td #{due.debtor_firstname} owes you #{due.amount.toFixed(2)} for #{due.type}
                    h2(class="fa fa-thumbs-up" aria-hidden="true" style="color:green;margin-left:10px;")
h2(style="color:green") +$#{owed}
