html
    include head.pug

    body(class="text-center" id="all-dues")
        div(class="container")
            div(class="row")
                div(class="col-md-6" id="dues-you-owe")
                    include duesowedout.pug
                div(class="col-md-6" id="dues-owed-to-you")
                    include duesowedin.pug

        div
            if (totalAmount < 0)
                
                        
        a(href="/") Return to Home

    include footer.pug