html
  include head.pug
  
  body(class="text-center" id="pay-bill")

   
    form(method="post" action="/bills/pay")
        h2 Bill Information
        input(type="hidden" name="id" value=data.id)
            
        table(class="table table-striped text-center" id="bill-details")
            tr
                td Due Date
                td=data.duedate.toDateString()
            tr 
                td Type
                td=data.type[0].toUpperCase() + data.type.substring(1)
            tr 
                td Amount
                td $#{data.amount}
        hr(style="width:30%")
        div(class="form-group")
            label(class="titlefield" for="datepaid") 
                h3 Date Paid
            input(type='date' class="form-control" name = "datepaid" id = "datepaid")  

        div(class="form-group")
            label(class="titlefield" for="payment-type") 
                h3 Payment Type
            select(style="position:relative" name = "paymenttype" id = "paymenttype" class="form-control")
                option(value="cash") Cash
                option(value="credit") Credit
                option(value="debit") Debit
                option(value="check") Check
        div
            button(type="submit" class="btn" id="submitBtn") Pay Bill

  include footer.pug
          
  
