html
  include head.pug
  
  body(class="text-center" id="create-bill")
    form(method="post" action="/bills/create")
            div(class="form-group")
                label(class="titlefield" for="type") 
                    h3 Bill Type
                select(style="position:relative" name = "type" id = "type" class="form-control")
                    option(value="electricy") Electricity
                    option(value="water") Water
                    option(value="spectrum") Spectrum
                    option(value="rent") Rent
            div(class="form-group")
                label(class="titlefield" for="amount") 
                    h3 Amount
                input(type='number' min="0.01" step="0.01" value="0.00" class="form-control" name = "amount" id = "amount")  

            div(class="form-group")
                label(class="titlefield" for="duedate") 
                    h3 Due Date
                input(type='date' class="form-control" name = "duedate" id = "duedate") 

            div(class="form-group")
                label(class="titlefield" for="users") 
                    h3 Users on Bill
            div(id="bill-users")
                div(class="user-bill creditor")
                    span #{creditor.firstname} #{creditor.lastname}
                    div(class="role") owner
                    input(type='hidden' style="display:inline-block; width:auto" readonly class="form-control" name = "users[creditor][0]" value = creditor.id)  
                div(style="display:inline-block; border:1px solid black; margin: 10px; padding:10px; border-radius:10px" id="add-user-bill-split")
                    i(class="fa fa-plus" aria-hidden="true")

            div
                button(type="submit" class="btn" id="submitBtn") Create Bill

    script(src='/js/createbill.js' type="text/javascript")





        
        
                  
  include footer.pug
          
  
