html
    include head.pug

    body(class="text-center" id="unpaid-bills")

        h2 Unpaid Bills
        div(id="bills")
            each bill in bills
                div(class="bill " + bill.type)  
                    h2
                        if bill.type == "electricy"
                            i(class="fa fa-bolt" aria-hidden="true")
                        if bill.type == "water"
                            i(class="fa fa-tint" aria-hidden="true")
                        if bill.type == "spectrum"
                            i(class="fa fa-wifi" aria-hidden="true")
                        if bill.type == "rent"
                            i(class="fa fa-home" aria-hidden="true")
                    h4= (parseInt(new Date(bill.duedate).getMonth()) + 1) + " / " + new Date(bill.duedate).getDate() + " / " + new Date(bill.duedate).getFullYear()
                    h1="$" + parseFloat(bill.amount).toFixed(2) + " " + bill.currency
                    if (bill.owner == userid)
                        button(class="btn btn-success pay-bill")
                            a(href="/bills/pay/" + bill.id) Pay Bill
                        
                       
        a(href="/") Return to Home

include footer.pug