
.container {
    height:400px;
}

.widget {
    padding:20px;
    margin:20px 0px;
    border-radius:10px;
}

#widget-calendar {
    background-color:red;  
}

#widget-calendar h2:after {
    content:' ';
    display:block;
    border:1px solid #FF7C7C;
    width:30%;
    margin:10 auto;
}

#widget-owes {
    background-color:green;
}

#widget-owes h2:after {
    content:' ';
    display:block;
    border:1px solid #00DC00;
    width:30%;
    margin:10 auto;
}

#home-left {
    color:white;
    border-right:1px solid lightgray;
}

.col-md-4 {
    border:1px solid black;
}

.inputfields {
    margin:0 10px;
    padding-top:20px
}

footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color:white
}


.modal-content {
    padding:20px;
}

.modal-content p {
    padding:10px;
}

