
.container {
    height:400px;
}

.widget {
    padding:20px;
    margin:20px 0px;
    border-radius:10px;
}

#widget-calendar {
    background-color:red;  
}

#widget-calendar h2:after {
    content:' ';
    display:block;
    border:1px solid #FF7C7C;
    width:30%;
    margin:10 auto;
}

#widget-owes {
    background-color:green;
}

#widget-owes h2:after {
    content:' ';
    display:block;
    border:1px solid #00DC00;
    width:30%;
    margin:10 auto;
}

#home-left {
    color:white;
    border-right:1px solid lightgray;
}

.col-md-4 {
    border:1px solid black;
}

.bill {
    display:inline-block;
    border: 1px solid gray;
    padding:20px;
    margin:15px;
    border-radius:10px;
}

#loginHeader {
    padding:20px;
    position:absolute;
    right:0;
    top:0;
}

#loginHeader button {
    margin:10px;
}

#linksHeader li {
    display:inline-block;
    padding: 5px 20px;
    border:1px solid gray;
    margin:10px;
}
.water {
    background-color:#00B7FF;
    color:black;
}

.electric {
    background-color:#FFFF8F;
    color:black;
}

.internet {
    background-color:lightgray
}

.form-control {
    margin:0 10px;
    padding:20px;
    text-align:center;
    font-size: 16px;
    position:relative;
}

.form-group {
    margin:0 40%;
}

#submitBtn {
    margin-top:30px;
}

footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color:white
}

#createFailMessage {
    background-color: rgb(218, 2, 2);
    color: #FCC9C9;
    padding: 30px;
    margin: 0 20%;
    border-radius: 10px;
}


.modal-content {
    padding:20px;
}

.modal-content p {
    padding:10px;
}

body {
    position:relative;
}
